<nav class="navbar navbar-expand-lg navbar-dark bg-main">
  <a class="navbar-brand" routerLink="/">{{ company }}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse w-100" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [class.active]="this.router.url == '/'" class="nav-item">
        <a class="nav-link" routerLink="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li [class.active]="this.router.url == '/contact'" class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact Us!</a>
      </li>
    </ul>
  </div>
</nav>
