<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="success" class="row">
    <div class="col-12">
      <div class="alert alert-success">
        Your message has been submitted successfully!
      </div>
    </div>
  </div>
  <div *ngIf="badRequest" class="row">
    <div class="col-12">
      <div class="alert alert-danger">
        Your message could not be processed at this time.
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close()"
  >
    Close
  </button>
</div>
